.DS_Store
etc/emacs.d/*elc
etc/emacs.d/ac-comphist.dat
etc/emacs.d/auto-save-list
etc/emacs.d/backups
etc/emacs.d/custom.el
etc/emacs.d/el-get
etc/emacs.d/elpa
etc/emacs.d/eshell
etc/emacs.d/geben
etc/emacs.d/history
etc/emacs.d/places
etc/emacs.d/rnc
etc/emacs.d/server
etc/emacs.d/tramp
etc/emacs.d/url
etc/vim/.netrwhist