actionscript-mode
android-mode
auto-complete
auto-complete-clang
auto-complete-css
auto-complete-etags
auto-complete-yasnippet
buffer-move
cedet
ecb
eproject
fuzzy-el
geben
gnus
go-mode
java-mode-indent-annotations
js2-mode
lua-mode
magit
minimap
naquadah-theme
nxhtml
nyan-mode
ob-go
offlineimap-el
org-mode
paredit
popup-el
protobuf-mode
rect-mark
soy-mode
sticky-windows
textmate.el
vkill
w3m
yasnippet
zencoding
