init.el
loaddefs.el
*.elc
plantuml.jar
actionscript-mode/
android-mode/
auto-complete/
auto-complete-clang/
auto-complete-etags/
buffer-move/
cmake-mode/
dired-details/
docsetutil-el/
emacs-minimap/
eproject/
flymake-cursor/
fuzzy-el/
geben/
go-autocomplete/
go-mode/
google-c-style/
java-mode-indent-annotations/
js2-mode/
lua-mode/
magit/
naquadah-theme/
nginx-mode/
nyan-mode/
ob-go/
org-mode/
paredit/
popup-el/
protobuf-mode/
rect-mark/
soy-mode/
sticky-windows/
textmate.el/
vkill/
web-mode/
yaml-mode/
yasnippet/
